@charset "UTF-8";

@media screen and (min-width: 768px){

    div#summary-component{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 515px;
        width: 742px;
        margin-left: 80px;
        margin-top: 80px;

    }

    section{
        float: left;
        width: 371px;
        height: 515px;
        border-radius: 20px;
    }

    section > h1{
        margin-top: 10px;
    }

    section > aside{
        height: 195px;
        width: 201px;
        margin-top: 40px;
    }

    section > aside > h1{
        font-size: 80px;
    }

    section > aside > h2{
        font-size: 20px;
    }

    section > p{
        padding: 10px;
    }

    article#summary{
        float: right;
        height: 515px;
        width: 371px;     
        padding-left: 20px;
        padding-bottom:40px;
        margin-bottom: 50px;
    }

    article#summary > h1{
        padding-left: 30px;
    }

    article#summary > div.vermelho{
        width: 350px;
        height: 54px;
    }

    article#summary > div.vermelho > h2{
        padding-right: 149px;
    }

    article#summary > div.vermelho > p{ 
        padding-right: 10px;
        font-size: 14px;
    }

    article#summary > div.amarelo{
        width: 350px;
        height: 54px;
    }

    article#summary > div.amarelo > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.amarelo > p{ 
        padding-right: 10px;
    }

    article#summary > div.verde{
        width: 350px;
        height: 54px;
    }

    article#summary > div.verde > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.verde > p{ 
        padding-right: 10px;
    }

    article#summary > div.azul{
        width: 350px;
        height: 54px;
    }

    article#summary > div.azul > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.azul > p{ 
        padding-right: 10px;
    }

    div#botao{
        display: none;
        width: 30vw;
        margin-top: 40px;
        margin-bottom: -334px;
    }
}