@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px){

    div#summary-component{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 100vh;
        width: 60vw;
    }

    section{
        float: left;
        width: 36vw;
        height: 54vh;
        border-radius: 20px;
    }

    section > p{
        padding: 10px;
    }

    article#summary{
        float: right;
        width: 10vw;
        padding-left: 20px;
    }

    article#summary > h1{
        padding-left: 0px;
    }

    article#summary > div.vermelho{
        width: 45vw;
    }

    article#summary > div.vermelho > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.vermelho > p{ 
        padding-right: 10px;
    }

    article#summary > div.amarelo{
        width: 45vw;
    }

    article#summary > div.verde{
        width: 45vw;
    }

    article#summary > div.azul{
        width: 45vw;
    }

    div#botao{
        display: none;
    }
}