@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px){

    div#summary-component{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 100vh;
        width: 60vw;
        margin-left: 80px;

    }

    section{
        float: left;
        width: 50vw;
        height: 60vh;
        border-radius: 20px;
    }

    section > p{
        padding: 10px;
    }

    article#summary{
        float: right;
        width: 5vw;     padding-left: 20px;
        padding-bottom:40px;
        margin-bottom: 50px;
    }

    article#summary > h1{
        padding-left: 0px;
    }

    article#summary > div.vermelho{
        width: 45vw;
    }

    article#summary > div.vermelho > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.vermelho > p{ 
        padding-right: 10px;
    }

    article#summary > div.amarelo{
        width: 45vw;
    }

    article#summary > div.amarelo > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.amarelo > p{ 
        padding-right: 10px;
    }

    article#summary > div.verde{
        width: 45vw;
    }

    article#summary > div.verde > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.verde > p{ 
        padding-right: 10px;
    }

    article#summary > div.azul{
        width: 45vw;
    }

    article#summary > div.azul > h2{
        padding-left: 10px;
        padding-right: 150px;
    }

    article#summary > div.azul > p{ 
        padding-right: 10px;
    }

    div#botao{
        width: 30vw;
        margin-top: 40px;
        margin-bottom: -334px;
    }
}